.item-page {
    background: #fff;
    min-height: calc(100vh - 82px);
}

.item-tabs {
    height: 50px;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
    padding-left: 80px;
    gap: 50px;
}

.item-tabs__link {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.item-tabs__link--active {
    color: #ff0000;
}

.item-list {
    padding: 40px 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

.item-card {
    width: 100%;
}

.item-card__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    background: #d9d9d9;
    color: #000;
    font-size: 22px;
}

.item-card__name {
    margin: 8px 0 0;
    font-size: 16px;
    color: #000;
}

.item-list {
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}


@media screen and (max-width: 850px) {
    .item-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 40px;
        gap: 30px;
    }
}